<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
    <th:block th:insert="~{fragments/headSettings::headSettings}"></th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"></th:block>
<div class="searchNameForm">
    <form th:action="@{/searchNameForm}" method="post" style="margin-bottom: 10px">
        <input type="text" name="searchName" placeholder="Search name">
        <input type="submit" value="Search name">
    </form>
<div class="clientForm">
    <form th:action="@{/addContactForm}" method="post" id="addClientForm">
        <input type="text" name="surname" placeholder="Surname">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="patronymic" placeholder="Patronymic">
        <input type="email" name="email" placeholder="Email">
        <input type="submit" id="submitAddClientForm" value="SAVE">
    </form>
</div>
<div class="table" id="tableOutput">
    <table>
        <tr>
            <th>ID</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Patronymic</th>
            <th>Email</th>
        </tr>
        <tr th:each="contact:${contacts}">
            <td th:utext="${contact.id}"></td>
            <td th:utext="${contact.surname}"></td>
            <td th:utext="${contact.name}"></td>
            <td th:utext="${contact.patronymic}"></td>
            <td th:utext="${contact.email}"></td>
            <td>
                <form th:action="@{/openContactForm}" method="post">
                    <input type="hidden" name="id" th:value="${contact.id}">
                    <input type="submit" value="&#8942;">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>