<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Client Update</title>
</head>
<body>
<header>
  <form th:action="@{/backToContacts}">
    <input type="submit" value=" <= BACK TO CONTACTS ">
  </form>
</header>
<div class="clientForm">
  <form th:action="@{/updateContactForm}" method="post">
    <div>
      <h2 style="background: aqua">Client Name</h2>
      <input type="text" name="id" readonly th:value="${contact.id}">
      <input type="text" name="surname" placeholder="Surname" th:value="${contact.surname}">
      <input type="text" name="name" placeholder="Name" th:value="${contact.name}">
      <input type="text" name="patronymic" placeholder="Patronymic" th:value="${contact.patronymic}">
      <input type="email" name="email" placeholder="Email" th:value="${contact.email}">
    </div>
    <div th:object="${contact.address}">
      <h2 style="background: aqua">Client Address</h2>
      <input type="text" name="idAddress" placeholder="id" th:value="*{id}">
      <input type="text" name="region" placeholder="Region" th:value="*{region}">
      <input type="text" name="district" placeholder="District" th:value="*{district}">
      <input type="text" name="city" placeholder="City" th:value="*{city}">
      <input type="text" name="street" placeholder="Street" th:value="*{street}">
      <input type="text" name="house" placeholder="House" th:value="*{house}">
    </div>
    <div th:object="${contact}" th:each="phone:${phones}">
      <h2 style="background: aqua">Client Phone</h2>
      <input type="text" name="id" placeholder="id" th:value="${phone.id}">
      <input type="text" name="phone" placeholder="phone" th:value="${phone.phone}">
    </div>
    <div th:if="${true}" th:object="${contact.phones.iterator()}">
      <p>Add new phone</p>
      <input type="text" name="id" placeholder="id" th:value="${id}">
      <input type="text" name="phone" placeholder="phone" th:value="${phone}">
    </div>
    <input type="submit" value="SAVE">
  </form>
</div>
</body>
</html>