<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search name</title>
  <th:block th:insert="~{fragments/headSettings::headSettings}"></th:block>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"></th:block>
  <div class="table" id="tableOutput">
    <table>
      <tr>
        <th>ID</th>
        <th>Surname</th>
        <th>Name</th>
        <th>Patronymic</th>
        <th>Email</th>
      </tr>
      <tr th:each="contact:${contacts}">
        <td th:utext="${contact.id}"></td>
        <td th:utext="${contact.surname}"></td>
        <td th:utext="${contact.name}"></td>
        <td th:utext="${contact.patronymic}"></td>
        <td th:utext="${contact.email}"></td>
        <td>
          <form th:action="@{/openClientForm}" method="post">
            <input type="hidden" name="id" th:value="${contact.id}">
            <input type="submit" value="&#8942;">
          </form>
        </td>
      </tr>
    </table>
  </div>
</body>
</html>